node_modules/
.npm
.vscode/
.vs/
*.py
*.bat
backend/bin/
backend/obj/
backend/publish/
*.zip
*.dll
*.exe
*.log
tunnel_*.txt
booking_screenshot.png
**/bin/
**/obj/
appsettings.Development.json
backend/publish_output/
