CREATE TABLE [combos] (
    [id] nvarchar(450) NOT NULL,
    [name] nvarchar(200) NOT NULL,
    [description] nvarchar(max) NOT NULL,
    [price] decimal(10,2) NOT NULL,
    [stock] int NOT NULL,
    [image_url] nvarchar(max) NOT NULL,
    [category] nvarchar(100) NOT NULL,
    CONSTRAINT [PK_combos] PRIMARY KEY ([id])
);
GO
