@model appweb.Models.Showtime

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Showtime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <input asp-for="MovieId" class="form-control" />
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TicketPrice" class="control-label"></label>
                <input asp-for="TicketPrice" class="form-control" />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookingDetails" class="control-label"></label>
                <input asp-for="BookingDetails" class="form-control" />
                <span asp-validation-for="BookingDetails" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bookings" class="control-label"></label>
                <input asp-for="Bookings" class="form-control" />
                <span asp-validation-for="Bookings" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie" class="control-label"></label>
                <input asp-for="Movie" class="form-control" />
                <span asp-validation-for="Movie" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
