@model appweb.Models.Seat

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Seat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeatRow" class="control-label"></label>
                <input asp-for="SeatRow" class="form-control" />
                <span asp-validation-for="SeatRow" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <input asp-for="SeatNumber" class="form-control" />
                <span asp-validation-for="SeatNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeatType" class="control-label"></label>
                <input asp-for="SeatType" class="form-control" />
                <span asp-validation-for="SeatType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookingDetails" class="control-label"></label>
                <input asp-for="BookingDetails" class="form-control" />
                <span asp-validation-for="BookingDetails" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
